body{
    font-family: "Times New Roman", serif;
    font-size: 110%;
    margin: 20px;
    background-color: #344;
	color: white;
	height: 100%;
}

html{
	border-style: solid;
    border-color: black;
	border-radius: 5px;
	margin: 20px;
	
}

header{
    
    height: 125px;
    text-align: center;
    font-size: 200%;
    line-height: 500%;
    color: white;
    
}

nav ul{
    font-variant: small-caps;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #abb2b9;
}

.picture{
	float:left;
    width:150px;
    height:175px;
    margin-right: 20px;
	margin-left: 20px;
}

#dynamic{
	max-width: 900px;
	margin: 0 auto;
	
}

p{
	text-align: auto;
	margin-right: 20px;
	margin-left: 20px;
}

footer{
    clear: both;
    color: white;
    text-align: center; 
	padding-top:100px;
	
}